@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');
*{
    padding:0;
    margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}
.pokemon_enlace{
    text-decoration: none;
    color: black;
    font-family:'Amatic SC';
    font-size: xx-large;
}

.pokemon_enlace:hover{
    color: rgb(241, 240, 213) ;
    transform: scale(1.12);
    transition: 0.3s;
}




.image{
    height: 100%;
    width: 100%;
    display: block;
    position:absolute;
    top: 0;
    z-index: -5;
}

